body{
  background-color: #F9F2ED;
}

p{
  color: #7F8487 ;
  font-family: 'Montserrat', sans-serif;
}


.container{
  display:flex;
  width: 50%;
  margin: 150px auto;
}

.img{
  width: 250px;
  height: 410px;
  border-radius: 15px 0 0 15px;
}

.data{
  width: 250px;
  height: 400px;
  background-color: #FFFFFF;
  border-radius: 0 15px 15px 0;
  text-align: left;
  padding: 10px 0px 0 10px;

}

.price{
  display: inline-flex;
}

.header{
  letter-spacing: 5px;
  font-family: 'Fraunces', serif;
}

.main-h{
  font-family: 'Fraunces', serif;
  color:black;
  font-weight: bolder;
}

.d-price{
  font-family: 'Fraunces', serif;
  color:#377D71;
}

.m-price{
  text-decoration: line-through;
   margin-top: 25px;
   margin-left: 15px;
}
.btn {
  background: #377D71;
  background-image: -webkit-linear-gradient(top, #377D71, #377D71);
  background-image: -moz-linear-gradient(top, #377D71, #377D71);
  background-image: -ms-linear-gradient(top, #377D71, #377D71);
  background-image: -o-linear-gradient(top, #377D71, #377D71);
  background-image: linear-gradient(to bottom, #377D71, #377D71);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
}

.btn-img{
  width: 20px;
  height: 20px;
}
